{{ template "header.html" . }}

<div class="theme-panel">
  <h1 class="theme-heading">Sign in to Stuff Stash</h1>
  <form method="post" action="{{ .PostURL }}">
    <div class="theme-form-row">
      <div class="theme-form-label">
        <label for="login">{{ .UsernamePrompt }}</label>
      </div>
      <input tabindex="1" required id="login" name="login" type="text" class="theme-form-input" autocomplete="username" {{ if .Username }} value="{{ .Username }}" {{ else }} autofocus {{ end }} {{ if .Invalid }}aria-describedby="login-error" aria-invalid="true"{{ end }}/>
    </div>
    <div class="theme-form-row">
      <div class="theme-form-label">
        <label for="password">Password</label>
      </div>
      <input tabindex="2" required id="password" name="password" type="password" class="theme-form-input" autocomplete="current-password" {{ if .Invalid }} autofocus aria-describedby="login-error" aria-invalid="true"{{ end }}/>
    </div>

    {{ if .Invalid }}
      <div id="login-error" class="dex-error-box" role="alert">
        Sign-in failed. Check your {{ .UsernamePrompt | lower }} and password, then try again.
      </div>
    {{ end }}

    <button tabindex="3" id="submit-login" type="submit" class="dex-btn theme-btn--primary">Sign in</button>
  </form>
  {{ if .BackLink }}
    <div class="theme-link-back">
      <a class="dex-subtle-text" href="{{ .BackLink }}">Choose another sign-in method</a>
    </div>
  {{ end }}
</div>

<script type="text/javascript">
  document.querySelector('form').onsubmit = function() {
    document.querySelector('#submit-login').setAttribute('disabled', 'disabled');
  };
</script>

{{ template "footer.html" . }}
